main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

.rating span {
	margin: 0.1rem;
}
.card-img, .card-img-bottom, .card-img-top {
    flex-shrink: 0;
    width: 90%;
}
.h-100 {
    height: 90%!important;
}
